.pageContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.contacts {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.contactsHeader {
  flex-grow: 1;
  border: solid 2px #EEEEEE;
}

.contactsBody{
  flex-grow: 10;
  border-left: solid 2px #EEEEEE;
  border-right: solid 2px #EEEEEE;
}

.chat{
  flex-grow: 8;
  display: flex;
  flex-direction: column;
}

.chatHeader{
  flex-grow: 1;
  border: solid 2px #EEEEEE;
}

.chatBody{
  flex-grow: 8;
  border-left: solid 2px #EEEEEE;
  border-right: solid 2px #EEEEEE;
}

.chatInput {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  border: solid 2px #EEEEEE;
}
