
.body{
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  height: 85px;
  border-bottom: solid 1px gainsboro;
}

.textContainer{
  padding-left: 10px;
  min-width: 0;
  flex: 1;
}

.nameText{
  text-align: left;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.footerText {
  color: #919191;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
  border-radius: 100%;
  border: 0;
  cursor: 'pointer'
}

.rightIcon {
  justify-self: flex-end;
  background-color: transparent;
  color: gainsboro;
  width: 100%;
  height: 30px;
}

.leftIcon {
  height: 60px;
  width: 60px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 10px;
}

.rightText {
  font-size: 0.75em;
  align-self: flex-end;
  color: #919191;
  font-weight: bold;
}