.container {
  height: 2.5rem;
  display: flex;
  background-color: white;
  align-items: center;
  border: solid 2px gainsboro;
}

.input {
  border: none;
  background: none;
  flex: 1;
  outline: none;
  padding-left: 10px;
  font-size: 0.9rem;
  line-height: 40px;
}