.container {
  height: 2.5rem;
  display: flex;
  background-color: white;
  align-items: center;
  border-top: solid 2px gainsboro;
}

.button {
  height: 100%;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emotionsButton {
  background: #4a4a4a
}

.sendButton {
  background-color: #313131;
}

.input {
  border: none;
  background: none;
  flex: 1;
  outline: none;
  padding-left: 10px;
  font-size: 0.9rem;
  line-height: 40px;
}