.container {
  display: flex;
  flex-direction: row;
  padding: 1.15em;
  align-items: center;
}

.body {
  background-color: #ffffff;
  padding: 0 1.5em;
  min-width: 160px;
  max-width: 300px;
  line-height: 28px;
  border-radius: 1rem;
  border: solid 2px gainsboro
}

.contentText {
  font-size: 1em;
}

.header {
  margin: 0 -1.5em;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.5em 1.5em 0 1.5em;
}

.name {
  color: #313131;
  font-size: 0.75em;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 0;
  white-space: nowrap;
}

.hour {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 0.75em;
  color: #4a4a4a;
  font-weight: bold;
}

.altHour {
 color: gainsboro
}

.hour > p {
  margin: 0;
}

.altBody {
  order: 1;
  align-self: flex-end;
  background-color: #919191;
  color: #EEEEEE;
}

.altContainer {
  justify-content: flex-end;
}